
/*标题头，只改字间距就可以了*/
.title{width:89mm;left: 104mm;}
.title table .null1{width: 13mm;}
.title table .w1{width: 11mm;}
/*.title table .t1{width: 4mm;}*/
.title table .null2{width: 20mm}
/*.jtqy-title {left: 39mm;top:22mm;}*/

/*.content-div table td{height: 10mm;}*/
.content-div table td.y-m-d table td{border-top: 0;}
/*div.editable{ line-height:14mm;}*/
input.editable{display:inline-block; font-size:14px;}
/*定义表格列宽*/
.colu1{width: 33mm;}
.colu2{width: 39mm;}
.colu3{width: 106mm;}
/*.y-m-d{width: 54mm;}*/
.y-m-d table{border-spacing: 0;border-collapse: collapse; table-layout: fixed;}
.y-m-d table td{text-align: center;border:0;}
.y-m-d table .null1{width: 3.5mm;}
.y-m-d table .w1{width: 5mm;}
.y-m-d table .w2{width: 14mm;}
.y-m-d table .t1{width: 5.7mm;}
.y-m-d table .null2{width: 6mm}


/*表的列宽度、行高度*/
.col-1{width:39mm;}
.col-2{width:26mm;}
.col-3{width:37mm;}
.col-4{width:26mm;}
.col-5{width:35.8mm;}
.col-6{width:26mm;}
.col-7{width:41.5mm;}
/*集体企业列*/
.col-8{width:89mm;}
.col-9{width:67.5mm;}

.audit-chu-chai{height:23mm!important;}/*审核行*/
.chu-chi-footer{border:none!important; text-align:left!important; text-indent:-2em; padding-left:2em;    line-height: 6mm;}/*最底部的说明*/

.content-div table .content-header .h1{width:16mm; padding-left:11mm;}
.content-div table .content-header .h2{width:93mm;}
.content-div table .h8{width: 24mm; border:none;}

/*.content-div table .h9{height: 9.5mm;}*/
.content-div table .amount .h9{width: 8mm;}
.content-div table td.amount td{border:none;}
.content-div table .h10{width: 5mm; border:none;}
.content-div table .h11{width: 10mm; border:none;}
.thrRow td.amount .t1{width: 5mm;}
.thrRow .t1,.thrRow .h9{width: 5.2mm;}
.content-div table .thrRow .t1{height: 9.5mm;}
.content-div table .thrRow .h9{height: 10.5mm;}

/*footer*/
.content-div table.peo .row1 td{width: 29.5mm;}
/*借款金额*/
/*.content-div table td.amount2 .first td{border-bottom: 0.2mm solid #000000;}*/
/*.content-div table td.amount2 .sec td{border-bottom:0.2mm solid #000000;}*/
/*
.content-div table td.amount2 td{border:none;height: 8mm;border-right:0.2mm solid #000000;}
.content-div table td.amount2 td:last-child{border-right: 0;}*/
/*第一行输入行高限制*/
/*.content-header div.editable{line-height: 7mm!important;}

.content-div table .content-header .h2 .editable{width:92mm;}
.content-div table .h8 .editable{width: 18mm;}
.content-div table .h9 .editable{width: 8mm;}*/
/*.edit-1{width:108mm;}
.edit-2{width:66mm;}
.edit-3{width:193mm;}*/


.font_11{line-height: 6mm!important;}
.font_10{line-height: 6mm!important;}

.content-div table.peo .row1 td.letter{letter-spacing: -1.1mm;}
.content-div table.peo .row1 td.letter2{letter-spacing: -1mm;}
/*最后一个站位行*/
.row-placeholder td{border:none!important;}
.content-div table.peo .row1 td:first-of-type{width: 28.5mm;}
.content-div table td.remark{height: 21.5mm;text-align: left;vertical-align: top;}
/*footer*/
.content-div table.peo .row1 td{width: 28.5mm;}
/*编辑框宽度设置*/
.tdedit-1,.tdedit-2,.tdedit-3{box-sizing: border-box;}
.tdedit-1{	width: 103mm;}
.tdedit-2{	width: 45mm;}
.tdedit-3{	width: 177mm;}
.s0{width: 23mm;}
.s1{width: 6mm;}
.ft1{width: 26mm;min-height: 19mm;}
.ft2{width: 220mm;min-height: 15mm;}
.mh{min-height: 19mm;}